<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TargetA</key>
	<dict>
		<key>app_store</key>
		<dict>
			<key>account</key>
			<string></string>
			<key>password</key>
			<string></string>
		</dict>
		<key>fir</key>
		<dict>
			<key>token</key>
			<string>1e698cbf7970645bcc7e</string>
			<key>type</key>
			<string>Adhoc</string>
		</dict>
		<key>git</key>
		<dict>
			<key>git_path</key>
			<string></string>
		</dict>
		<key>ipaType</key>
		<integer>1</integer>
		<key>notification</key>
		<dict>
			<key>email_from_name</key>
			<string>xxxxx@126.com</string>
			<key>email_from_pwd</key>
			<string></string>
			<key>email_smtp</key>
			<string>smtp.126.com</string>
			<key>email_to</key>
			<array>
				<string>xxxxx@163.com</string>
				<string>xxxxx@qq.com</string>
			</array>
		</dict>
		<key>pgyer</key>
		<dict>
			<key>api_key</key>
			<string>1e698cd80f687772babf7970645bcc7e</string>
			<key>password</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>user_key</key>
			<string>64838e4d304640eff69c8c25bccb120e</string>
		</dict>
		<key>svn</key>
		<dict>
			<key>svn_path</key>
			<string></string>
		</dict>
		<key>xc_path</key>
		<string>/Users/xxxx/Desktop/WorkA/Project.xcodeproj</string>
		<key>projectName</key>
		<string>客户端</string>
	</dict>
	<key>TargetB</key>
	<dict>
		<key>app_store</key>
		<dict>
			<key>account</key>
			<string></string>
			<key>password</key>
			<string></string>
		</dict>
		<key>fir</key>
		<dict>
			<key>token</key>
			<string>1e698cbf7970645bcc7e</string>
			<key>type</key>
			<string>Adhoc</string>
		</dict>
		<key>pgyer</key>
		<dict>
			<key>api_key</key>
			<string>1e698c2babf7970645bcc7e</string>
			<key>password</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>user_key</key>
			<string>6483869c8c25bccb120e</string>
		</dict>
		<key>notification</key>
		<dict>
			<key>email_from_name</key>
			<string>xxxxx@126.com</string>
			<key>email_from_pwd</key>
			<string></string>
			<key>email_smtp</key>
			<string>smtp.126.com</string>
			<key>email_to</key>
			<array>
				<string>xxxxx@163.com</string>
				<string>xxxxx@qq.com</string>
			</array>
		</dict>
		<key>git</key>
		<dict>
			<key>git_path</key>
			<string></string>
		</dict>
		<key>svn</key>
		<dict>
			<key>svn_path</key>
			<string></string>
		</dict>
		<key>ipaType</key>
		<integer>2</integer>
		<key>xc_path</key>
		<string>/Users/xxx/Desktop/WorkB/Project.xcworkspace</string>
		<key>projectName</key>
		<string>业务端</string>
	</dict>
	<key>root_info</key>
	<dict>
		<key>Http_Serve</key>
		<true/>
		<key>Path_altool</key>
		<string>/Users/xxx/Desktop/MyWorking/Andromeda/code/Andromeda/Applications/ApplicationLoader.app/Contents/Frameworks/ITunesSoftwareService.framework/Versions/A/Support/altool</string>
		<key>Path_ipa_plist</key>
		<string>/Users/xxx/Desktop/MyWorking/CDKit/Andromeda/code/Andromeda/ArchivePlist</string>
		<key>Target</key>
		<string>TargetB</string>
		<key>a_</key>
		<string></string>
		<key>a_instruction</key>
		<string>这里介绍使用方法，下一级的字典Key -&gt; Target 对应每个项目，将会根据key检索需要打包的项目， value 部分，必须正确填写，key值不可修改</string>
		<key>b_http_instruction</key>
		<string>是否提供内网http唤起打包服务？</string>
		<key>b_xc_path_instruction</key>
		<string>.xcodeproj 或 .xcworkspace文件路径，正确填写将自动根据类型打包</string>
		<key>c_appstore_instruction</key>
		<string>上传至App Store，开发者账号密码</string>
		<key>c_fir_instruction</key>
		<string>fir.im 账号相关，填写标识上传，不填写表示不上传到该平台</string>
		<key>c_pgyer_instruction</key>
		<string>蒲公英账号相关，填写表示上传到该平台，不填写表示不上传到该平台，填写信息为参考：https://www.pgyer.com/doc/api#uploadApp</string>
		<key>d_Path_altool_instruction</key>
		<string>由于默认Xcode包内的Application Loader.app 名字中间有空格，执行命令是出错，需重命名将空格去除，建议是将其所在Applications拷贝一份。</string>
		<key>d_Path_ipa_plist_instruction</key>
		<string>构建打包Debug、Release所需配置文件存放路径</string>
		<key>d_Target_instruction</key>
		<string>现在你需要填写常驻打包项目的 Key 标签，以一键启动打包上传流程</string>
		<key>d_git_instruction</key>
		<string>git 服务</string>
		<key>d_svn_instruction</key>
		<string>svn 服务</string>
	</dict>
</dict>
</plist>
